.sidebar {
  width: 250px;
  padding: 1rem;
  background: #f8f8f8;
  border-right: 1px solid #eee;
  min-height: 100vh;
  float: left;
}

.content {
  margin-left: 250px;
  padding: 2rem;
}

.main {
  color: blue;
}